<section>
  <h1>Tags</h1>
  <ul>
   <%= for x <- @tags do %>
     <li><%= x.name %></li>
   <% end %>
  </ul>
  <%= form_for @conn, Routes.tag_path(@conn, :create), fn f -> %>
    <label>
      Name: <%= text_input f, :name %>
    </label>
    <%= submit "Add" %>
  <% end %>
</section>
